{% extends 'base.html.twig' %}

{% block title %}Waters!{% endblock %}

{% block body %}
<div class="main">
    <h1>{{ controller_name }}</h1>

    <div class="last-post">

    </div>

</div>
{% endblock %}
